@model PawMates.Core.Models.PetViewModels.AllPetsQueryModel

@{
    ViewBag.Title = "All Pets";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<form method="get">
    <div class="row">
        <div class="form-group col-md-3 d-flex" style="gap:2em;">
            <div class="form-group">
                <label asp-for="PetType" style="margin-bottom:10px;"></label>
                <select asp-for="PetType" class="form-select">
                    <option value="">All</option>
                    @foreach (var petType in Model.PetTypes)
                    {
                        <option value="@petType">@petType</option>
                    }
                </select>
            </div>
            <div class="col-md-3">
                <div class="form-group mt-4 p-2">
                    <input type="submit" value="Search" class="btn btn-everywhere" style="margin-bottom:40px"/>
                </div>
            </div>
        </div>
        
    </div>
</form>


@{
    var previousPage = Model.CurrentPage - 1;
    if (previousPage < 1)
    {
        previousPage = 1;
    }

    var maxPage = Math.Ceiling((double)Model.TotalPetsCount /
        Model.PetsPerPage);
}


@if (!Model.Pets.Any())
{
    <h2 class="text-center">No pets found by the given criteria!</h2>
}

<div class="pet-container">
    @foreach (var pet in Model.Pets)
    {
        <div class="card" style="width: 18rem;-webkit-box-shadow: 0px 2px 25px -1px rgba(0,0,0,0.75);-moz-box-shadow: 0px 2px 25px -1px rgba(0,0,0,0.75); box-shadow: 0px 2px 25px -1px rgba(0,0,0,0.75);">
            <img class="card-img-top" src=@pet.ImageUrl alt="Card image cap" style="width:100%; height:180px; object-fit: cover; object-position: 25% 25%;">
            <div class="card-body">
                <h5 class="card-title" style="text-align:center;">@pet.Name</h5>
            </div>

            <a asp-controller="Pet" asp-action="Details" asp-route-id="@pet.Id" class="btn btn-everywhere" style="color:white;">Details</a>

        </div>
    }
</div>

<div class="row mb-5">
    <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-everywhere @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
           asp-controller="Pet"
           asp-action="All"
           asp-route-currentPage="@previousPage"
           asp-route-category="@Model.PetType"
           asp-route-searchTerm="@Model.SearchTerm"><<</a>
    </div>

    @{
        var shouldButtonBeDisabled = Model.CurrentPage == maxPage ||
        !Model.Pets.Any();
    }

    <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-everywhere
           @(shouldButtonBeDisabled ? "disabled" : string.Empty)"
           asp-controller="Pet"
           asp-action="All"
           asp-route-currentPage="@(Model.CurrentPage + 1)"
           asp-route-category="@Model.PetType"
           asp-route-searchTerm="@Model.SearchTerm">>></a>
    </div>
</div>