@model IEnumerable<PawMates.Core.Models.PetViewModels.PetInfoViewModel>

@{
    ViewBag.Title = "My Pets";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @if (Model.Count()==0)
    {
        <h1 class="text-center">You haven't added a pet yet</h1>
        <a asp-controller="Pet" asp-action="Add" class="btn btn-success">Add</a>
    }
    @foreach (var p in Model)
    {    
        @if (User.Identity.Name==p.OwnerId)
        {
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src=@p.ImageUrl alt="Card image cap" style="height:180px; object-fit: cover; object-position: 25% 25%;">
                <div class="card-body">
                    <h5 class="card-title">@p.Name</h5>
                </div>
                <a asp-controller="Pet" asp-action="Edit" asp-route-id="@p.Id" class="btn btn-warning">Edit</a>
                <a asp-controller="Pet" asp-action="Details" asp-route-id="@p.Id" class="btn btn-success">Details</a>
                <a asp-controller="Pet" asp-action="Delete" asp-route-id="@p.Id" class="btn btn-danger">Delete</a>
            </div>
        }     
    }
</div>