@model IEnumerable<PawMates.Core.Models.PetStatusViewModels.PetStatusViewModel>
@{
    ViewBag.Title = "All Pets Status";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    @foreach (var e in Model)
    {
        <div class="card col-4" style="width: 20rem; ">
            <div class="card-body">
                <h6 class="card-title mt-1">@e.OwnerName</h6>
                <img class="card-img-top" src=@e.ImageUrl alt="Card image cap" style="height:180px; object-fit: cover; object-position: 25% 25%;">
                <h5 class="card-title mt-1">@e.Name</h5>
                <p class="mb-0"><span class="fw-bold">Breed: </span>@e.Breed</p>
                <p class="mb-0"><span class="fw-bold">Status: </span>@e.Status</p>             
            </div>

            @if (User.Identity.Name == e.OwnerName)
            {
                <a asp-controller="" asp-action="" asp-route-id="@e.Id" class="btn btn-danger mb-2 w-100 p-3 fw-bold">Change Status</a>
                <a asp-controller="Pet" asp-action="Edit" asp-route-id="@e.Id" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Edit</a>
            }
            else
            {
                <form class="input-group-sm" asp-controller="Attendance" asp-action="Join" asp-route-id="@e.Id">
                    <input type="submit" value="Join" class="fs-6 btn btn-warning mb-2 w-100 p-3 fw-bold" />
                </form>
            }
        </div>
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
